.nav {
    width: 1060px;
    padding: 5vw;

    @media (min-width: 280px) and (max-width: 768px) {
      width: calc(100% - 10vw);
    }

    @media (min-width: 767px) and (max-width: 1119px) {
     width: calc(100% - 10vw);
    }
    
  @media (min-width: 1120px) {
     width: 90%;
     padding: 2vw 5vw;
  }
  }
