.modal-call__button{
    margin: 24px;
    align-self: flex-end;
    }
    .modal-call {
      position: absolute;
      visibility: hidden;
      opacity: 0;
      transition: 0.3s;
      top: -1000px;
      right: 0;
      bottom: 0;
      left:0;
      z-index: 10;
      background: rgba(251, 248, 248, 0.9);
      display: flex;
      justify-content: center;
      align-items: flex-start;
      overflow-y: scroll;
      padding: 60px 15px;

    }
    .modal-call__content {
        display: flex;
        flex-direction: column;
        width: 100%;
        max-width: 386px;
        padding: 32px;
        background: #FFFFFF;
        border-radius: 3px;
        position: fixed;
        height: 100%;
        right: 0;
        top: 0;
        box-shadow: 0 1px 0 1px #D9FFF5;

        
      @media (min-width: 240px) and (max-width: 767px) {
        position: absolute;
        top:0;
        left:0;
        right:0;
        bottom:0;
        width: calc(100vw - 64px); 
        }
      }
      .modal--active {
  position: fixed;
  top: 0;
  visibility: visible;
  opacity: 1;
  transition: 0.3s;
}
.modal-call__close{
    position: absolute;
  top:32px;
  left: -65px;
  z-index:5;
  
  @media (min-width: 240px) and (max-width: 767px) {
    top: 24px;
    left: 16px;
    }
  }
     