@font-face {
  font-family: "TT Lakes Regular";
  src: local("TT Lakes Regular"), local("TTLakes-Regular");
  src: url("/src/fonts/TTLakes-Regular.woff");
}
@font-face {
  font-family: "TT Lakes Medium";
  src: local("TT Lakes Medium"), local("TTLakes-Medium");
  src: url("/src/fonts/TTLakes-Medium.woff");
}

@font-face {
  font-family: "TT Lakes Bold";
  src: local("TT Lakes Bold"), local("TTLakes-Bold");
  src: url("/src/fonts/TTLakes-Bold.woff");
}