.slide-menu {
    padding: 0;
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    white-space: nowrap;
    min-height: 40px;
    position: relative;
    width: 100%;

    @media (min-width: 280px) and (max-width: 768px) {
      flex-wrap: nowrap;
      overflow: scroll;
    }

    @media (min-width: 767px) and (max-width: 1119px) {
          flex-wrap: nowrap;
          overflow: hidden;
    }

    @media (min-width: 1120px) {
      display: flex;
      flex-wrap: wrap;
      justify-content: space-between;
    }
  }
  
  .slide-menu__button {
    list-style: none;
    background-color: #f8f8f8;
    padding: 12px;

    @media (min-width: 280px) and (max-width: 768px) {
      width: auto;
    }

    @media (min-width: 1120px) {
      padding-top: 14px;
      padding-bottom: 14px;
    }
  }
  .slide-menu__button > a {
    text-decoration: none;
    background-color: #f8f8f8;
    color: #7e7e82;
    font-family: "TT Lakes Medium";
    font-weight: 500;
    font-size: 1rem;
  }
  
  .slide-menu__button:hover {
    border-style: solid;
    border-color: #b8ffec;
    background-color: white;
    border-width: 2px;
    border-radius: 6px;
  }
  .slide-menu__button:hover > a {
    background-color: white;
  }
  .slide-menu__button:last-child {
    @media (min-width: 1120px) {
      min-width: 50px;
    }
  }