.menu-mobile--close {
  display: none;

  @media (min-width: 1120px) {
    position: absolute;
    display: flex;
    top: 0;
    width: 320px;
    left: 0;
    min-height: 700px;
    height: 100%;
    box-sizing: border-box;
    display: flex;
    flex-direction: column;
    background-color: #ffffff;
  }
}

.right-part--big-screen {
  
  @media (min-width: 1120px) {
    position: absolute;
    left: 320px;
  }
}

.menu-mobile {
  position: absolute;
  display: flex;
  top: 0;
  width: 360px;
  left: 0;
  min-height: 700px;
  height: 100%;
  box-sizing: border-box;
  box-shadow: 0px 0px 30px 2px rgb(154, 156, 158);
  display: flex;
  flex-direction: column;
  height: 100%;
  background-color: #ffffff;
  z-index: 2;
}
