.brands-h2 {
  font-family: "TT Lakes Regular";
  font-size: 1rem;
  color: #7e7e82;
  text-transform: uppercase;
  padding-top: 16px;
  padding-left: 2.9vw;
  padding-bottom: 16px;
}
@media (min-width: 240px) and (max-width: 767px) {
  .brands-h2 {
    padding-left: 16px;
  }
}

.types-of-brands {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}
@media (min-width: 1120px) {
  .types-of-brands {
    max-width: 1300px;
  }
}
@media (min-width: 240px) and (max-width: 767px) {
  .types-of-brands {
    display: none;
  }
}

.section__button {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  background-repeat: no-repeat;
  background-position: center;
  border: solid 2px #ff3e79;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  background-color: #ffffff;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.pointer {
  width: 6px;
  height: 6px;
  border: solid #ff3e79;
  border-width: 0 2px 2px 0;
  -webkit-transform: rotate(-45deg);
          transform: rotate(-45deg);
  background-color: #ffffff;
  margin-right: 3px;
}

.brands {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -ms-flex-item-align: center;
      -ms-grid-row-align: center;
      align-self: center;
  width: 100%;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  align-self: center;
  background-color: #f8f8f8;
  gap: 2vw;
  padding-left: 5vw;
  padding-top: 24px;
}
@media (min-width: 240px) and (max-width: 767px) {
  .brands {
    display: none;
  }
}

.section {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -ms-flex-preferred-size: 224px;
      flex-basis: 224px;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  max-width: calc(240px - 4vw);
  padding: 16px 20px;
  border: solid 1px #eaeaea;
  border-radius: 6px;
  background-color: #ffffff;
}
@media (min-width: 1120px) {
  .section {
    width: 25%;
    max-width: 240px;
  }
}
@media (min-width: 767px) and (max-width: 1119px) {
  .section {
    width: 33, 33%;
    max-width: 224px;
  }
}

img {
  background-color: inherit;
}

.show-all {
  color: #1b1c21;
  font-family: "TT Lakes Medium";
  font-size: 1rem;
  padding: 24px 0 24px calc(2.5vw + 12px);
  border-style: none;
  position: relative;
  max-width: 160px;
}

.show-all::before {
  content: url("img/icon.svg");
  position: absolute;
  left: 2vw;
  top: 22px;
}

.hide::before {
  content: url("img/icon.svg");
  -webkit-transform: rotate(180deg);
          transform: rotate(180deg);
  -webkit-transition: 0.3s;
  transition: 0.3s;
  position: absolute;
  left: 2vw;
  top: 18px;
}

.swiper {
  display: none;
}
@media (min-width: 240px) and (max-width: 767px) {
  .swiper {
    display: block;
  }
}

.swiper .section {
  min-width: 188px;
  max-width: 208px;
  height: 38px;
}

.swiper-slide.cards-slider {
  height: 138px;
  width: 240px;
  padding: 0;
}

.swiper-slide.cards-slider:first-child {
  margin-left: 16px;
}

.swiper .swiper-pagination-bullet {
  width: 12px;
  height: 12px;
  background-color: #979797;
}